@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFCD29;
}

#cardContainer {
  column-count: 4;
  column-gap: 2vh;
  margin: 2vh;
}

/* BUTTONS */
.filterButton {
  /* background-color: #5FB0F1; */
  background-color: tomato;
  border: none;
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  margin: 1vh;
  padding: 1vh;
}

/* CARDS */
.playgroundCard {
  border-radius: 25px;
  break-inside: avoid;
  margin-bottom: 16px;
}

/* IMAGES */
.playgroundImage {
  border-radius: 25px;
  padding: 5%;
}
